@model DDACCharityServices.Models.Background
@using Microsoft.AspNetCore.Identity
@using DDACCharityServices.Areas.Identity.Data

@inject SignInManager<DDACCharityServicesUser> SignInManager

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <h1>Background Details</h1>
        <h6>The below shows the basic background details of the selected background.</h6>
        <hr />
        <div class="form-group">
            <label asp-for="@Model.BackgroundName"></label>
            <input asp-for="@Model.BackgroundName" class="form-control"disabled />
        </div>
        <div class="form-group">
            <label asp-for="@Model.BackgroundDescription"></label>
            <input asp-for="@Model.BackgroundDescription" class="form-control"disabled />
        </div>
        <div class="form-group">
            <label asp-for="@Model.BackgroundAmount"></label>
            <input asp-for="@Model.BackgroundAmount" class="form-control"disabled />
        </div>
        <div class="form-group">
            <label asp-for="@Model.CustomUserModelEmail"></label>
            <input asp-for="@Model.CustomUserModelEmail" class="form-control"disabled />
        </div>
        @if (!this.User.IsInRole("Customer"))
        {
            <div class="form-group">
                <label asp-for="@Model.BackgroundStatus"></label>
                <input asp-for="@Model.BackgroundStatus" class="form-control"disabled />
            </div>        
        }
        @*<dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.BackgroundName)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.BackgroundName)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.BackgroundDescription)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.BackgroundDescription)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.BackgroundAmount)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.BackgroundAmount)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.CustomUserModelEmail)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.CustomUserModelEmail)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.BackgroundStatus)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.BackgroundStatus)
            </dd>
        </dl>*@
        <div class="form-group">
            @if (this.User.IsInRole("Staff"))
            {
                <a asp-action="Edit" asp-route-id="@Model.BackgroundID" class="btn btn-warning">Edit</a>
            }
            @if (this.User.IsInRole("Customer"))
            {
                <a asp-action="Donate" asp-route-id="@Model.BackgroundID" class="btn btn-primary" style="background-color: #0ace96; box-shadow: 0px 2px 6px 0px rgba(10, 207, 151, 0.5); border: 0">Donate</a>
            }
            <a asp-action="Index" class="btn btn-outline-primary">Back To Donation Backgrounds Page</a>
        </div>
    </div>
</div>
