@model IEnumerable<DDACCharityServices.Models.Background>

@{
    ViewData["Title"] = "Background";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Donation Backgrounds</h1>
<h6>The below table displays all the information of backgrounds currently in the system. </h6>
<br />
<table class="table">
    <thead>
        <tr>
            <th class="align-middle">
                @Html.DisplayNameFor(model => model.BackgroundName)
            </th>
            <th class="align-middle">
                @Html.DisplayNameFor(model => model.BackgroundDescription)
            </th>
            <th class="align-middle">
                @Html.DisplayNameFor(model => model.BackgroundAmount)
            </th>
            <th class="align-middle">
                @Html.DisplayNameFor(model => model.CustomUserModelEmail)
            </th>
            <th class="align-middle">
                @Html.DisplayNameFor(model => model.BackgroundStatus)
            </th>
            <th class="align-middle">
                @if (this.User.IsInRole("Staff"))
                {
                    <a asp-action="Create" class="btn btn-primary" style="background-color: #0ace96; box-shadow: 0px 2px 6px 0px rgba(10, 207, 151, 0.5); border: 0">Create Donation</a>
                }
            </th>
        </tr>
    </thead>
    <tbody>
        @if (this.User.IsInRole("Staff"))
        {
            @foreach (var item in Model)
            {
                @if (item.CustomUserModelEmail.Equals(this.User.Identity.Name))
                {
                    <tr>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.BackgroundName)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.BackgroundDescription)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.BackgroundAmount)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.CustomUserModelEmail)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.BackgroundStatus)
                        </td>
                        <td class="align-middle">
                            @if (!item.BackgroundStatus.Equals("Rejected"))
                            {
                                <a asp-action="Edit" asp-route-id="@item.BackgroundID" class="btn btn-warning">Edit</a>
                                <a asp-action="Details" asp-route-id="@item.BackgroundID" class="btn btn-info"> Details </a>
                            }
                            <a asp-action="Delete" asp-route-id="@item.BackgroundID" class="btn btn-danger">Delete</a>
                        </td>

                    </tr>
                }
            }
        }
        @if (this.User.IsInRole("Admin"))
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.BackgroundName)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.BackgroundDescription)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.BackgroundAmount)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.CustomUserModelEmail)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.BackgroundStatus)
                    </td>
                    <td class="align-middle">
                        <a asp-action="Review" asp-route-id="@item.BackgroundID" class="btn btn-info">Review</a>
                    </td>
                </tr>
            }
        }
        @if (this.User.IsInRole("Customer"))
        {
            @foreach (var item in Model)
            {
                @if (item.BackgroundStatus.Equals("Approved"))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.BackgroundName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BackgroundDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BackgroundAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CustomUserModelEmail)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BackgroundStatus)
                        </td>
                        <td>
                            <a asp-action="Donate" asp-route-id="@item.BackgroundID">Donate</a>
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>