@model DDACCharityServices.Models.Background

@{
    ViewData["Title"] = "Review";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Review this Donation Background</h1>

<h3>Should this donation background be approved or rejected?</h3>
<div>
    <h4>Backgrounds</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BackgroundID)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(model => model.BackgroundID)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BackgroundName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BackgroundName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BackgroundDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BackgroundDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BackgroundAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BackgroundAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomUserModelEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomUserModelEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BackgroundStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BackgroundStatus)
        </dd>
    </dl>

    <form asp-action="Review">
        <input type="hidden" asp-for="BackgroundID" />
        <input type="hidden" name="status" value="Approved"/>
        <input type="submit" value="Approve" class="btn btn-success" />
    </form>

    <br />

    <form asp-action="Review">
        <input type="hidden" asp-for="BackgroundID" />
        <input type="hidden" name="status" value="Rejected" />
        <input type="submit" value="Reject" class="btn btn-danger" />
    </form>

    <br />

    <a asp-action="Index">Back to List</a>
</div>
