@model DDACCharityServices.Models.Donation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Donation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StaffEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StaffEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BackgroundID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BackgroundID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonationAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonationAmount)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DonationID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
